.aboutUs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  padding: 30px 0;
  /* ff 3.6+ */
  background: -moz-linear-gradient(
    181deg,
    rgba(0, 0, 0, 1) 20%,
    rgba(6, 17, 55, 1) 94%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    181deg,
    rgba(0, 0, 0, 1) 20%,
    rgba(6, 17, 55, 1) 94%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(
    181deg,
    rgba(0, 0, 0, 1) 20%,
    rgba(6, 17, 55, 1) 94%
  );

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#061137', endColorstr='#000000', GradientType=1 );

  /* ie 10+ */
  background: -ms-linear-gradient(
    181deg,
    rgba(0, 0, 0, 1) 20%,
    rgba(6, 17, 55, 1) 94%
  );

  /* global 94%+ browsers support */
  background: linear-gradient(
    181deg,
    rgba(0, 0, 0, 1) 20%,
    rgba(6, 17, 55, 1) 94%
  );

  h1 {
    margin-top: 0rem;
  }

  .aboutContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 18px;
    height: 50vh;
    margin: 0 30px;
    .aboutContent {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 30px;
      margin-top: 30px;
      .aboutButtons {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-start;

        button {
          width: 140px;
          height: 40px;
          border: none;
          border-radius: 10px;
          background-color: #ffffff;
          color: #06133c;
          font-size: 16px;
          font-weight: 600;
          cursor: pointer;
          margin: 0 10px;

          @media screen and (max-width: 768px) {
            width: 80%;
          }
        }
        @media screen and (max-width: 768px) {
          justify-content: center;
        }
      }
      .readMore {
        background-color: #06133c;
        color: #ffffff;
        border: 1px solid #ffffff;
      }
    }

    .aboutImage {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: gra;
      img {
        max-width: 100%;
        max-height: 100%;
        min-width: 40%;
        min-height: 40%;
        object-fit: cover;
      }
    }
  }
}

//media queries
@media (max-width: 768px) {
  .aboutUs {
    padding-top: 10px;
    gap: 30px;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 29%,
      rgba(6, 19, 60, 1) 90%
    );

    .aboutContainer {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: auto;
      margin: 0 30px;
      gap: 30px;
    }
  }
}
