.navbar {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  width: 100%;
  padding: 0 0.7rem;

  .logo-wrapper {
    img {
      width: 120px;
      height: 60px;
    }
  }

  .btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar-links {
    height: 100%;

    ul {
      display: flex;
      margin: 0;
      padding: 0;
    }

    li {
      list-style: none;

      a {
        display: block;
        text-decoration: none;
        color: white;
        padding: 1rem;
      }
      &:hover {
        background-color: #556;
      }
    }
  }

  .hamburger {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: start;

    .hamburger {
      display: flex;
    }
    .navbar-links {
      display: none;
      width: 100%;

      ul {
        width: 100%;
        flex-direction: column;

        li {
          text-align: center;

          a {
            padding: 0.5rem 1rem;
          }
        }
      }
    }

    .btn-wrapper {
      display: none;
      width: 100%;
    }

    .navbar-links.active {
      display: flex;
    }

    .btn-wrapper.active {
      display: flex;
    }
  }
}
