.navigation {
  min-height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  background-color: rgba(0, 0, 0, 0.8);
  font-style: normal;
  padding: 0 12px;

  .logo-wrapper {
    margin: 0px 5px;
    img {
      width: 140px;
    }
  }

  .btn-wrapper {
    display: flex;
    border: 1px solid white;
    @media screen and (max-width: 768px) {
      button {
        width: 100%;
      }
      width: 100%;
      margin-top: 5px;
      align-items: center;
      justify-content: center;
    }
  }

  .navigation-menu {
    display: flex;
    align-items: center;
    justify-content: center;

    li {
      list-style-type: none;
      margin: 0 1rem;
      width: 100%;

      a {
        text-decoration: none;
        border: 1px solid white;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 60px;

        &:hover {
          color: black;
        }

        @media screen and (max-width: 768px) {
          color: rgb(255, 255, 255);
          width: 100%;
          padding: 1.5rem 0;
        }
      }
      &:hover {
        background-color: white;
      }
      @media screen and (max-width: 768px) {
        text-align: center;
        margin: 0;
        color: black;
      }
    }
  }

  .hamburger {
    display: none;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: #ffffff;
    color: black;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    top: 25px;
    right: 15px;
    &:hover {
      background-color: #ffffff;
    }
    @media screen and (max-width: 768px) {
      display: flex;
    }
  }

  .btn {
    border-radius: 19px;
    background: none;
  }

  .expanded {
    display: flex;
    .navigation-menu {
      flex-direction: column;
      width: 100%;
      display: flex;
    }

    .btn-wrapper {
      display: flex;
    }

    .logo-wrapper {
      margin: 0px 2px;
      border: 1px solid white;

      img {
        width: 80px;
      }
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;

    .navigation-menu {
      flex-direction: column;
      width: 100%;
      display: none;
    }

    .btn-wrapper {
      display: none;
    }

    .logo-wrapper {
      margin: 0px 2px;
      border: 1px solid white;

      img {
        width: 80px;
      }
    }
  }
}
