.image {
  p {
    text-transform: capitalize;
    border: 5px solid white;
    border-radius: 10px;
    width: 40vw;
    height: 40vh;
    font-size: 2rem;
    margin: 0 10rem;
    overflow: auto;
    // backdrop-filter:;
  }
}
