.stories {
  width: 100%;

  .story_section_header {
    display: grid;
    justify-self: center;
    width: 100%;

    font-family: "Gothic A1";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;

    color: white;
  }

  .content_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: white;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .content_section {
    width: 321px;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      width: 320px;
      height: 250px;
      border-radius: 9px;
      justify-self: center;
    }
    p {
      font-family: Gothic A1;
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 0em;
      text-align: center;
      padding: 10px;

      margin: 0px;
    }

    .date_and_name {
      margin: 0px;
    }

    .section_header {
      margin: 0px;
    }

    .content {
      width: 100%;
      height: 111px;
      // text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5; /* start showing ellipsis when 3rd line is reached */
      white-space: pre-wrap; /* let the text wrap preserving spaces */
    }

    button {
      align-self: center;
      margin-top: 10px;
    }
  }

  /* Default styles */
  @media screen and (max-width: 1024px) {
    img {
      justify-self: center;
    }
  }

  @media screen and (max-width: 1110px) {
    .content_container {
      width: auto;
      gap: 10px;
      grid-template-columns: repeat(3, 1fr);
      justify-self: center;
      justify-items: center;
      align-items: center;
      margin: 20px;
    }

    img {
      justify-self: center;
    }

    .content_section:nth-child(4) {
      display: none;
    }
  }

  /* Styles for screens with a max width of 768px */
  @media screen and (max-width: 800px) {
    /* Styles for screens smaller than 768px */

    .content_container {
      width: auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-around;
      align-items: center;
      gap: 10px;
      margin-left: auto;
      margin-right: auto;
    }

    img {
      justify-self: center;
    }

    .content_section:nth-child(4) img {
      justify-self: center;
    }

    .content_section:nth-child(4) {
      display: grid;
      justify-content: center;
    }
  }

  /* Styles for screens with a min width of 769px */
  @media screen and (max-width: 550px) {
    /* Styles for screens larger than or equal to 769px */
    .content_container {
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
      align-items: center;
      gap: 10px;
    }

    img {
      justify-self: center;
    }

    .content_section:nth-child(4) {
      display: none;
    }

    .content_section:nth-child(3) {
      display: none;
    }
  }

  /* Styles for screens with a max width of 1024px */
}
