.objectives{
  width: 100vw;
  background: rgb(6,17,55);
  color: #FFFFFF;
  height: auto;
  padding: 30px 0;
  .objectivesContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0 30px;
    margin-top: 20px;
    .objective{
      height: 35vh;
      width: 35vh;
      border: 5px solid #FFFFFF;
      border-radius: 10px;
    }

  }
}

//media queries
@media (max-width: 768px) {
  .objectives {
    .objectivesContainer {
      flex-direction: column;
      gap: 0;
      .objective{
        height: 16vh;
     
        margin-bottom: 20px;
        border: none;
      }
    }
  }
}