.objectives {
  width: 100%;
  color: #ffffff;
  padding: 30px 0;
  .objectivesContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    margin: 0 30px;
    margin-top: 20px;
    .objective {
      height: 35vh;
      width: 23vw;
      border: 5px solid #ffffff;
      border-radius: 10px;
      font-size: 25px;
    }
  }
}

//media queries
@media (max-width: 768px) {
  .objectives {
    .objectivesContainer {
      border: 1px solid red;
      flex-direction: column;
      justify-content: center;
      gap: 0;
      .objective {
        width: 75vw;
        margin-bottom: 20px;
      }
    }
  }
}
