.gallery {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  div {
    width: 85%;
  }
  .button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
  }

  .content_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    img {
      max-width: 302px;
      max-height: 240px;
      margin: 10px;
      border-radius: 10px;
    }
  }

  //   @media screen and (max-width: 1110px) {
  //     .content_container {
  //       grid-template-columns: repeat(3, 1fr);
  //       gap: 10px;
  //       justify-items: center;
  //       align-items: center;
  //     }
  //     img {
  //       justify-self: center;
  //     }
  //     .content_section:nth-child(4) {
  //       display: none;
  //     }
  //   }
  /* Styles for screens with a max width of 768px */
  @media screen and (max-width: 768px) {
    /* Styles for screens smaller than 768px */
    .content_container {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      justify-items: center;
      align-items: center;
    }
    img {
      justify-self: center;
    }
    .content_section:nth-child(4) {
      display: grid;
    }
  }

  /* Styles for screens with a min width of 769px */
  @media screen and (max-width: 550px) {
    /* Styles for screens larger than or equal to 769px */
    .content_container {
      grid-template-columns: repeat(1, 1fr);
      gap: 10px;
      justify-items: center;
      align-items: center;
    }
    .content_section:nth-child(4) {
      display: none;
    }
    .content_section:nth-child(3) {
      display: none;
    }
  }
}
