.gallery {
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  h1 {
    margin-bottom: 20px;
  }

  .content_container {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &.gallery-open {
      height: auto;
    }

    &.gallery-closed {
      height: 60vh;
    }

    .slide {
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: opacity 1s ease-in-out;

      .image-container {
        width: 100%;
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border-radius: 10px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        border-radius: 10px;
      }

      .slide-details {
        margin-top: 20px;
        padding: 0 20px;

        h2 {
          font-size: 24px;
          margin: 10px 0;
        }

        .date {
          font-size: 16px;
          color: #888;
        }

        .description {
          font-size: 18px;
          color: #555;
        }
      }
    }
  }

  .button-wrapper {
    margin-top: 20px;

    button {
      background-color: #0073e6;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      cursor: pointer;
      font-size: 16px;

      &:hover {
        background-color: #005bb5;
      }
    }
  }
}
