* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
  background: white;
  background-size: cover;
  background-repeat: no-repeat;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: serif;
  color: black;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0;
  margin: 3rem 0;
}

// Default button styling
button {
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  background-color: #06133c;
  border: 1px solid white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  align-self: flex-end;

  &:hover {
    background-color: #ffffff;
    color: #06133c;
  }
}
